.container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 100vh;

}
.register-form-container{
    padding: 40px;
    background-color: white;
}
