.register-page-container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    min-height:100vh;
    background-color: rgb(238, 236, 235); 
}

.register-form-container{
    display: flex;
    justify-content: center;
}
.user-list-container{
    display: flex;
    text-align: center;
    margin-top: 20px;
}
@media screen and (max-width: 800px){
 .register-page-container{ 
   display: flex;
   
   align-items: stretch;
   justify-content: flex-start;   
   flex-grow: 1  fdf;
 } 

} 
