.button{

    width: 100%;
    border-radius: 10px;
    background-color: #04AA6D;
    opacity: 0.9;
    font-weight: 900;
    cursor: pointer;
    font-size: large;
    color: white;
    padding: 10px;
    border-style: none;
}
.button:hover{
    opacity: 1;
}